<div class="container">
    <h1>Login</h1>
    <form>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
  
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
  
      <input type="submit" value="Login">
    </form>
    <nav>
        <p>Don't have an account? .</p>
        <a routerLink="/registration" mat-raised-button color="blue">Register</a>
    </nav>
   
    <p>Forgot your password? <a href="#">Reset it here</a>.</p>
  </div>
  
  